/* ./styles/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brigitka";
  src: url("/fonts/Brigitka.otf");
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #ddb98c;
  --secondary: #b6d1d4;
  --tertiary: #493e36;
}

body {
  background-color: var(--secondary);
}

* {
  line-height: 1.625;
}

h1,
h2,
h3 {
  letter-spacing: 0.05em;
}

.border-image {
  border: 4px solid white !important;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
/* 
* {
  color: var(--primary);
} */
